/*combinators*/

/*div > p {
    background-color: rgb(6, 236, 163);
}*/

/*
div p {
    background-color: yellow;
}*/

/*div + p {
    background-color: green;
}*/

/*
div ~ p {
    background-color: brown;
}*/